.app {
  background: $blue;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;

  @include breakpoint {
    border: $border;
    border-radius: 16px;
  }
}

.app__header {
  padding: 25px;
  border-bottom: $border;
}

.app__logo {
  display: block;
  width: 385px;
  max-width: 100%;
  margin: 0 auto;
}
