.question {
  flex: 1;
  padding: 15px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: $shadow;
  font-size: 24px;
  text-align: center;
}

.question__text {
  margin-bottom: 45px;
}

.question__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.question__answer {
  margin-bottom: 15px;
}

.question__input,
.question__submit,
.question__keep-playing {
  display: block;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  text-align: center;
  font-size: 16px;
  border: 0;
  box-shadow: $shadow;
  border-radius: 3px;
  color: #000000;
}

.question__keep-playing,
.question__submit {
  background: $yellow;
  cursor: pointer;
  margin: 0 auto;
}

.question__submit--skip {
  background: transparent;
  color: #ffffff;
  text-shadow: $shadow;
  box-shadow: none;
}
