$blue: #2521c6;
$blue-dark: #1f1ca6;
$white: #ffffff;
$yellow: #f0c888;
$border: 4px solid #ffffff;
$shadow: 2px 2px 3px #000000;

@mixin vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin breakpoint {
  @media (min-width: #{525px}) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $blue;
  @include breakpoint {
    padding: 16px;
  }
}

a,
a:visited {
  color: $blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@import-normalize;
@import "./App.scss";
@import "./Gameboard.scss";
@import "./Category.scss";
@import "./Question.scss";
@import "./Scoreboard.scss";
