$blue: #2521c6;
$blue-dark: #1f1ca6;
$yellow: #f0c888;
$border: 4px solid #ffffff;

* {
  box-sizing: border-box;
}

a, a:visited {
  color: $blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
}

@mixin vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}


@mixin breakpoint {
  @media (min-width: #{525px}) {
    @content;
  }
}


@import-normalize;
@import "./App.scss";
@import "./Gameboard.scss";
@import "./Clues.scss";
@import "./Question.scss";
@import "./Scoreboard.scss";